src/
test/

.github/
.husky/
.env
.env.*
.envrc

.prettierignore
.prettierrc
.size-limit.json
mangle.json
tsconfig.json
jest.config.ts

**/*.spec.ts
**/*.test.ts
**/*.cy.ts
**/*.e2e.ts

**/*.spec.js
**/*.test.js
**/*.cy.js
**/*.e2e.js
